<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-logcat" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:tools="http://schemas.android.com/tools">
	<name>Logcat Plugin</name>
	<description>A Cordova plugin to generate logs in Android</description>
	<license>MIT</license>
	<js-module src="www/logcat.js" name="LogCat">
		<clobbers target="plugin.logcat"/>
	</js-module>
	<platform name="android">
		
    		<dependency id="com.google.android.material" version="1.5.0" />
		<dependency id="androidx.constraintlayout" version="2.1.4" />
		<dependency id="com.azure" version="12.15.0" />
		<dependency id="com.azure" version="1.3.6" />
		<dependency id="com.squareup.okhttp3" version="4.9.1" />
		<dependency id="com.google.code.gson" version="2.8.8" />
		<dependency id="junit:junit" version="4.13.2" target="test" />
  		<dependency id="androidx.test.ext:junit" version="1.1.5" target="androidTest" />
  		<dependency id="androidx.test.espresso:espresso-core" version="3.5.1" target="androidTest" />
		
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="LogCat">
				<param name="android-package" value="org.apache.cordova.logcat.LogCat"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
				<uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" xmlns:tools="http://schemas.android.com/tools" />
				<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
				<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
				<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
				<uses-permission android:name="android.permission.PACKAGE_REPLACED" />
			    	<uses-permission android:name="android.permission.INTERNET" />
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
				<service android:name="org.apache.cordova.logcat.MyForegroundService" android:foregroundServiceType="dataSync"/>
				<receiver android:name="org.apache.cordova.logcat.MyBroadcastReceiver" android:exported="true">
					<intent-filter>
						<action android:name="android.intent.action.BOOT_COMPLETED"/>
						<action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
					</intent-filter>
				</receiver>
			        <receiver android:name="org.apache.cordova.logcat.OldFilesTimes" android:exported="true">
            				<intent-filter>
                				<action android:name="android.intent.action.DATE_CHANGED" />
            				</intent-filter>
        			</receiver>
		</config-file>
		
		<source-file src="src/android/LogCat.java" target-dir="src/org/apache/cordova/logcat"/>
		<source-file src="src/android/MyForegroundService.java" target-dir="src/org/apache/cordova/logcat"/>
		<source-file src="src/android/MyBroadcastReceiver.java" target-dir="src/org/apache/cordova/logcat"/>
		<source-file src="src/android/OldFilesTimes.java" target-dir="src/org/apache/cordova/logcat"/>
		<source-file src="src/android/MicrosoftAzureStorageConnection.java" target-dir="src/org/apache/cordova/logcat"/>
		<source-file src="src/android/LogcatHistoryFile.java" target-dir="src/org/apache/cordova/logcat"/>
	</platform>
</plugin>
